/* common section  */
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.Container {
  padding: 30px;
  width: 870px;
  left: 285px;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 21px;
}
/*-------BANNER CONTAINER PART--------  */
.banner {
  background-color: #2d25a0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 677px;
}
.banner h2 {
  font-size: 64px;
  color: #ffffff;
}
.title {
  padding-left: 156px;
}
.btn {
  height: 44px;
  width: 168px;
  background-color: #e02c6d;
  color: #ffffff;
  font-size: 16px;
}
.btn:hover {
  background-color: blue;
}
.banner_image {
  display: flex;
  height: 438px;
  width: 556px;
  transition: transform 1s;
  padding-right: 150px;
}
.banner_image:hover {
  transform: rotate(30deg);
}
/* ----------PLAYER INFORMATION-------- */
.player-section {
  margin-top: 70px;
  margin-left: 180px;
  margin-right: 180px;
}
.players {
  width: 1050px;
  margin-left: 180px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.player {
  padding-top: 25px;
  padding-left: 25px;
  height: 474px;
  width: 330px;
  border: 1px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img {
  height: 256px;
  width: 300px;
}
/* copa america final match  */
.copa h1 {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.final-match {
  display: flex;
  padding-left: 180px;
  padding-right: 180px;
}
.final-match img {
  width: 457px;
  height: 338px;
}
/* ---------LOGO AND SOCIAL MEDIA PART---------  */
.logo-social {
  display: grid;
  grid-template-columns: 1;
  place-items: center;
  grid-row-gap: 20px;
}
.logo-img {
  width: 483px;
  height: 110px;
  margin-top: 120px;
}

.social {
  font-size: 2em;
}
.social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.logos {
  padding: 10px;
  margin-left: 10px;
  background-color: white;
  border-radius: 20%;
  color: gray;
}
/*------ FOOTER SECTION--------*/
.footer {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

/* ------------MEDIA QUERY------------ */
/* ------------Mobile device-----------  */
@media only screen and (max-width: 688px) {
  body {
    align-content: center;
    align-items: center;
    padding-left: 10px;
  }
  .banner-section {
    height: 650px;
    width: 370px;
    padding-right: 20px;
    margin-right: 0px;
  }
  .banner {
    display: inline-block;
  }
  .banner h2 {
    font-size: 40px;
  }
  .title {
    padding-left: 25%;
    padding-right: 25%;
  }
  .banner_image {
    height: 219px;
    width: 500px;
    padding: 10%;
  }

  .btn {
    height: 44px;
    width: 168px;
    background-color: #e02c6d;
    color: #ffffff;
    font-size: 16px;
  }
  .btn:hover {
    background-color: blue;
  }
  .player-section {
    margin-top: 70px;
    margin-left: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .players {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    flex-direction: column;
  }

  .copa h1 {
    padding: auto;
  }
  .final-match {
    display: block;
    padding: 0px;
    justify-items: center;
  }
  .final-match img {
    height: 226px;
    width: 110%;
  }
  .logo-social {
  }
  .logo-img {
    height: 90px;
    width: 100%;
  }
}
